# 5. 데이터 확인

In [1]:
import pandas as pd
df = pd.read_excel('C:/Users/samta/PythonDataWorkspace/Pandas/seventeen.xlsx', index_col='지원번호')
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

## DataFrame 확인
계산 가능한 데이터에 대해 Column 별로 데이터의 갯수, 평균, 표준편차, 최소/최댓값 등의 정보를 보여줌

In [2]:
df.describe()

              나이      생일(월)
count  13.000000  13.000000
mean   25.461538   6.307692
std     1.265924   3.902662
min    23.000000   1.000000
25%    25.000000   2.000000
50%    26.000000   6.000000
75%    26.000000  10.000000
max    27.000000  12.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 1번 to 13번
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      13 non-null     object
 1   유닛      13 non-null     object
 2   나이      13 non-null     int64
 3   생일(월)   13 non-null     int64
dtypes: int64(2), object(2)
memory usage: 520.0+ bytes

In [4]:
df.head() # 처음 5개의 row 를 가져옴

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7

In [5]:
df.head(7) # 처음 7개의 row 를 가져옴

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11

In [6]:
df.tail() # 마지막 5개의 row 를 가져옴

       이름   유닛  나이  생일(월)
지원번호
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [7]:
df.tail(3) # 마지막 3개의 row 를 가져옴

       이름   유닛  나이  생일(월)
지원번호
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [10]:
df.values

array([['최승철', '힙합팀', 27, 8],
       ['윤정한', '보컬팀', 27, 10],
       ['홍지수', '보컬팀', 27, 12],
       ['문준휘', '퍼포팀', 26, 6],
       ['전원우', '힙합팀', 26, 7],
       ['권순영', '퍼포팀', 26, 6],
       ['이지훈', '보컬팀', 26, 11],
       ['서명호', '퍼포팀', 25, 11],
       ['김민규', '힙합팀', 25, 4],
       ['이석민', '보컬팀', 25, 2],
       ['부승관', '보컬팀', 24, 1],
       ['최한솔', '힙합팀', 24, 2],
       ['이찬', '퍼포팀', 23, 2]], dtype=object)

In [11]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번', '11번',
       '12번', '13번'],
      dtype='object', name='지원번호')

In [12]:
df.columns

Index(['이름', '유닛', '나이', '생일(월)'], dtype='object')

In [13]:
df.shape # row, column

(13, 4)

In [14]:
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

## Series 확인

In [20]:
df['나이'].describe()

count    13.000000
mean     25.461538
std       1.265924
min      23.000000
25%      25.000000
50%      26.000000
75%      26.000000
max      27.000000
Name: 나이, dtype: float64

In [21]:
df['나이'].min()

23

In [22]:
df['나이'].max()

27

In [23]:
df['나이'].nlargest(3) # 나이 많은 순서대로 3명 데이터

지원번호
1번    27
2번    27
3번    27
Name: 나이, dtype: int64

In [24]:
df['나이'].mean()

25.46153846153846

In [26]:
df['나이'].sum()

331

In [27]:
df['이름'].count() # NaN 이 있을 경우 제외하고 count

13

In [29]:
df['유닛'].unique()

array(['힙합팀', '보컬팀', '퍼포팀'], dtype=object)

In [30]:
df['유닛'].nunique()

3