# 6. 데이터 선택 (기본)

In [1]:
import pandas as pd
df = pd.read_excel('seventeen.xlsx', index_col='지원번호')
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

## Column 선택 (label)

In [2]:
df['이름']

지원번호
1번     최승철
2번     윤정한
3번     홍지수
4번     문준휘
5번     전원우
6번     권순영
7번     이지훈
8번     서명호
9번     김민규
10번    이석민
11번    부승관
12번    최한솔
13번     이찬
Name: 이름, dtype: object

In [3]:
df['유닛']

지원번호
1번     힙합팀
2번     보컬팀
3번     보컬팀
4번     퍼포팀
5번     힙합팀
6번     퍼포팀
7번     보컬팀
8번     퍼포팀
9번     힙합팀
10번    보컬팀
11번    보컬팀
12번    힙합팀
13번    퍼포팀
Name: 유닛, dtype: object

In [4]:
df[['이름', '유닛']]

       이름   유닛
지원번호
1번    최승철  힙합팀
2번    윤정한  보컬팀
3번    홍지수  보컬팀
4번    문준휘  퍼포팀
5번    전원우  힙합팀
6번    권순영  퍼포팀
7번    이지훈  보컬팀
8번    서명호  퍼포팀
9번    김민규  힙합팀
10번   이석민  보컬팀
11번   부승관  보컬팀
12번   최한솔  힙합팀
13번    이찬  퍼포팀

## Column 선택 (정수 Index)

In [5]:
df.columns

Index(['이름', '유닛', '나이', '생일(월)'], dtype='object')

In [6]:
df.columns[0]

'이름'

In [7]:
df.columns[2]

'나이'

In [9]:
df[df.columns[0]] # df['이름'] 과 동일한 동작

지원번호
1번     최승철
2번     윤정한
3번     홍지수
4번     문준휘
5번     전원우
6번     권순영
7번     이지훈
8번     서명호
9번     김민규
10번    이석민
11번    부승관
12번    최한솔
13번     이찬
Name: 이름, dtype: object

In [10]:
df[df.columns[-1]] # 맨 끝에 있는 값을 가져옴

지원번호
1번      8
2번     10
3번     12
4번      6
5번      7
6번      6
7번     11
8번     11
9번      4
10번     2
11번     1
12번     2
13번     2
Name: 생일(월), dtype: int64

## 슬라이싱

In [11]:
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [13]:
df['나이'][0:7] # 0~6까지의 나이 데이터를 가져옴

지원번호
1번    27
2번    27
3번    27
4번    26
5번    26
6번    26
7번    26
Name: 나이, dtype: int64

In [14]:
df[['이름', '나이']][:3] # 처음 3명의 이름, 키 정보를 가져옴

       이름  나이
지원번호
1번    최승철  27
2번    윤정한  27
3번    홍지수  27

In [15]:
df[3:]

       이름   유닛  나이  생일(월)
지원번호
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2