# 7. 데이터 선택 (loc)
이름을 이용하여 원하는 row 에서 원하는 col 선택

In [2]:
import pandas as pd
df = pd.read_excel('seventeen.xlsx', index_col = '지원번호')
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [3]:
df.loc['1번'] # index 1번에 해당하는 전체 데이터

이름       최승철
유닛       힙합팀
나이        27
생일(월)      8
Name: 1번, dtype: object

In [4]:
df.loc['7번'] # index 5번에 해당하는 전체 데이터

이름       이지훈
유닛       보컬팀
나이        26
생일(월)     11
Name: 7번, dtype: object

In [5]:
df.loc['13번', '유닛'] # index 13번에 해당하는 유닛 데이터

'퍼포팀'

In [6]:
df.loc[['1번', '13번'], '유닛'] # index 1번, 13번에 해당하는 유닛 데이터

지원번호
1번     힙합팀
13번    퍼포팀
Name: 유닛, dtype: object

In [7]:
df.loc[['1번', '13번'], ['이름', '유닛']] # index 1번, 13번에 해당하는 이름, 유닛 데이터

       이름   유닛
지원번호
1번    최승철  힙합팀
13번    이찬  퍼포팀

In [9]:
df.loc['1번':'7번', '유닛':'생일(월)'] # indes 1번부터 7번까지, 유닛부터 생일(월)까지 데이터

       유닛  나이  생일(월)
지원번호
1번    힙합팀  27      8
2번    보컬팀  27     10
3번    보컬팀  27     12
4번    퍼포팀  26      6
5번    힙합팀  26      7
6번    퍼포팀  26      6
7번    보컬팀  26     11