# 8. 데이터 선택 ( iloc)
위치를 이용하여 원하는 row에서 원하는 col 선택

In [1]:
import pandas as pd
df = pd.read_excel('seventeen.xlsx', index_col='지원번호')
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [2]:
df.iloc[0] # 0번째 위치의 데이터

이름       최승철
유닛       힙합팀
나이        27
생일(월)      8
Name: 1번, dtype: object

In [3]:
df.iloc[4] # 4번째 위치의 데이터

이름       전원우
유닛       힙합팀
나이        26
생일(월)      7
Name: 5번, dtype: object

In [4]:
df.iloc[0:7] # 0~6번째 위치의 데이터

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11

In [5]:
df.iloc[0, 1] # 0번째 위치의 1번째(유닛) 데이터

'힙합팀'

In [6]:
df.iloc[4, 0] # 5번 위치의 0번째(이름) 데이터

'전원우'

In [9]:
df.iloc[[0, 1], 1] # 0, 1번째 위치의 1번째(유닛) 데이터

지원번호
1번    힙합팀
2번    보컬팀
Name: 유닛, dtype: object

In [10]:
df.iloc[[0, 1],[0, 1]] # 0, 1번째 위치의 0(이름), 1번째(유닛) 데이터

       이름   유닛
지원번호
1번    최승철  힙합팀
2번    윤정한  보컬팀

In [11]:
df.iloc[0:5, 0:3] # 0~4 번째 위치의 지원자들 중에서, 0~2 번째 데이터(이름, 유닛, 나이)
                  # 슬라이싱은 대괄호 2번 쓸 필요 없음...!!!

       이름   유닛  나이
지원번호
1번    최승철  힙합팀  27
2번    윤정한  보컬팀  27
3번    홍지수  보컬팀  27
4번    문준휘  퍼포팀  26
5번    전원우  힙합팀  26