# 10. 결측치
비어 있는 데이터

In [1]:
import pandas as pd

df = pd.read_excel('seventeen.xlsx', index_col = '지원번호')
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ       NaN
3번    홍지수  보컬팀  27     12  ENFJ       NaN
4번    문준휘  퍼포팀  26      6  INFP       NaN
5번    전원우  힙합팀  26      7  INFJ       NaN
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ       NaN
9번    김민규  힙합팀  25      4  ENFJ       NaN
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP       NaN
13번    이찬  퍼포팀  23      2  ENFJ       NaN

## 데이터 채우기 fillna

In [2]:
df.fillna('') # NaN 데이터를 빈 칸으로 채움

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ
3번    홍지수  보컬팀  27     12  ENFJ
4번    문준휘  퍼포팀  26      6  INFP
5번    전원우  힙합팀  26      7  INFJ
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ
9번    김민규  힙합팀  25      4  ENFJ
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP
13번    이찬  퍼포팀  23      2  ENFJ

In [3]:
df.fillna('없음')

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ        없음
3번    홍지수  보컬팀  27     12  ENFJ        없음
4번    문준휘  퍼포팀  26      6  INFP        없음
5번    전원우  힙합팀  26      7  INFJ        없음
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ        없음
9번    김민규  힙합팀  25      4  ENFJ        없음
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP        없음
13번    이찬  퍼포팀  23      2  ENFJ        없음

In [4]:
import numpy as np
df['이름'] = np.nan # 이름 데이터 전체를 NaN으로 채움
df

      이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번   NaN  힙합팀  27      8  INFP       리더즈
2번   NaN  보컬팀  27     10  ISFJ       NaN
3번   NaN  보컬팀  27     12  ENFJ       NaN
4번   NaN  퍼포팀  26      6  INFP       NaN
5번   NaN  힙합팀  26      7  INFJ       NaN
6번   NaN  퍼포팀  26      6  INFP  리더즈, 부석순
7번   NaN  보컬팀  26     11  INFJ       리더즈
8번   NaN  퍼포팀  25     11  INFJ       NaN
9번   NaN  힙합팀  25      4  ENFJ       NaN
10번  NaN  보컬팀  25      2  INFP       부석순
11번  NaN  보컬팀  24      1  ENFP       부석순
12번  NaN  힙합팀  24      2  ENFP       NaN
13번  NaN  퍼포팀  23      2  ENFJ       NaN

In [5]:
df.fillna('모름')

      이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    모름  힙합팀  27      8  INFP       리더즈
2번    모름  보컬팀  27     10  ISFJ        모름
3번    모름  보컬팀  27     12  ENFJ        모름
4번    모름  퍼포팀  26      6  INFP        모름
5번    모름  힙합팀  26      7  INFJ        모름
6번    모름  퍼포팀  26      6  INFP  리더즈, 부석순
7번    모름  보컬팀  26     11  INFJ       리더즈
8번    모름  퍼포팀  25     11  INFJ        모름
9번    모름  힙합팀  25      4  ENFJ        모름
10번   모름  보컬팀  25      2  INFP       부석순
11번   모름  보컬팀  24      1  ENFP       부석순
12번   모름  힙합팀  24      2  ENFP        모름
13번   모름  퍼포팀  23      2  ENFJ        모름

In [6]:
df

      이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번   NaN  힙합팀  27      8  INFP       리더즈
2번   NaN  보컬팀  27     10  ISFJ       NaN
3번   NaN  보컬팀  27     12  ENFJ       NaN
4번   NaN  퍼포팀  26      6  INFP       NaN
5번   NaN  힙합팀  26      7  INFJ       NaN
6번   NaN  퍼포팀  26      6  INFP  리더즈, 부석순
7번   NaN  보컬팀  26     11  INFJ       리더즈
8번   NaN  퍼포팀  25     11  INFJ       NaN
9번   NaN  힙합팀  25      4  ENFJ       NaN
10번  NaN  보컬팀  25      2  INFP       부석순
11번  NaN  보컬팀  24      1  ENFP       부석순
12번  NaN  힙합팀  24      2  ENFP       NaN
13번  NaN  퍼포팀  23      2  ENFJ       NaN

In [7]:
df.fillna('모름', inplace=True)

In [8]:
df

      이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    모름  힙합팀  27      8  INFP       리더즈
2번    모름  보컬팀  27     10  ISFJ        모름
3번    모름  보컬팀  27     12  ENFJ        모름
4번    모름  퍼포팀  26      6  INFP        모름
5번    모름  힙합팀  26      7  INFJ        모름
6번    모름  퍼포팀  26      6  INFP  리더즈, 부석순
7번    모름  보컬팀  26     11  INFJ       리더즈
8번    모름  퍼포팀  25     11  INFJ        모름
9번    모름  힙합팀  25      4  ENFJ        모름
10번   모름  보컬팀  25      2  INFP       부석순
11번   모름  보컬팀  24      1  ENFP       부석순
12번   모름  힙합팀  24      2  ENFP        모름
13번   모름  퍼포팀  23      2  ENFJ        모름

In [9]:
df = pd.read_excel('seventeen.xlsx', index_col = '지원번호')
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ       NaN
3번    홍지수  보컬팀  27     12  ENFJ       NaN
4번    문준휘  퍼포팀  26      6  INFP       NaN
5번    전원우  힙합팀  26      7  INFJ       NaN
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ       NaN
9번    김민규  힙합팀  25      4  ENFJ       NaN
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP       NaN
13번    이찬  퍼포팀  23      2  ENFJ       NaN

In [10]:
df['유닛2'].fillna('준비 중', inplace=True) # 유닛2 데이터 중에서 NaN 에 대해서 채움

In [11]:
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ      준비 중
3번    홍지수  보컬팀  27     12  ENFJ      준비 중
4번    문준휘  퍼포팀  26      6  INFP      준비 중
5번    전원우  힙합팀  26      7  INFJ      준비 중
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ      준비 중
9번    김민규  힙합팀  25      4  ENFJ      준비 중
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP      준비 중
13번    이찬  퍼포팀  23      2  ENFJ      준비 중

## 데이터 제외하기 dropna

In [18]:
df = pd.read_excel('seventeen.xlsx', index_col = '지원번호')
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
2번    윤정한  보컬팀  27     10  ISFJ       NaN
3번    홍지수  보컬팀  27     12  ENFJ       NaN
4번    문준휘  퍼포팀  26      6  INFP       NaN
5번    전원우  힙합팀  26      7  INFJ       NaN
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
8번    서명호  퍼포팀  25     11  INFJ       NaN
9번    김민규  힙합팀  25      4  ENFJ       NaN
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순
12번   최한솔  힙합팀  24      2  ENFP       NaN
13번    이찬  퍼포팀  23      2  ENFJ       NaN

In [13]:
df.dropna(inplace = True) # 전체 데이터 중에서 NaN 을 포함하는 데이터 삭제

In [14]:
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순

- axis : index or columns  
- how : any or all

In [15]:
df.dropna(axis='index', how='any') # NaN 가 하나라도 있는 row 삭제

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순

In [16]:
df.dropna(axis='columns', how='any') # how는 any가 default,,, NaN이 하나라도 있는 컬럼을 삭제

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27      8  INFP       리더즈
6번    권순영  퍼포팀  26      6  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26     11  INFJ       리더즈
10번   이석민  보컬팀  25      2  INFP       부석순
11번   부승관  보컬팀  24      1  ENFP       부석순

In [19]:
df['생일(월)'] = np.nan
df

       이름   유닛  나이  생일(월)  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27    NaN  INFP       리더즈
2번    윤정한  보컬팀  27    NaN  ISFJ       NaN
3번    홍지수  보컬팀  27    NaN  ENFJ       NaN
4번    문준휘  퍼포팀  26    NaN  INFP       NaN
5번    전원우  힙합팀  26    NaN  INFJ       NaN
6번    권순영  퍼포팀  26    NaN  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26    NaN  INFJ       리더즈
8번    서명호  퍼포팀  25    NaN  INFJ       NaN
9번    김민규  힙합팀  25    NaN  ENFJ       NaN
10번   이석민  보컬팀  25    NaN  INFP       부석순
11번   부승관  보컬팀  24    NaN  ENFP       부석순
12번   최한솔  힙합팀  24    NaN  ENFP       NaN
13번    이찬  퍼포팀  23    NaN  ENFJ       NaN

In [20]:
df.dropna(axis='columns', how='all') # 데이터 전체가 NaN 인 경우에만 Column 삭제

       이름   유닛  나이  MBTI       유닛2
지원번호
1번    최승철  힙합팀  27  INFP       리더즈
2번    윤정한  보컬팀  27  ISFJ       NaN
3번    홍지수  보컬팀  27  ENFJ       NaN
4번    문준휘  퍼포팀  26  INFP       NaN
5번    전원우  힙합팀  26  INFJ       NaN
6번    권순영  퍼포팀  26  INFP  리더즈, 부석순
7번    이지훈  보컬팀  26  INFJ       리더즈
8번    서명호  퍼포팀  25  INFJ       NaN
9번    김민규  힙합팀  25  ENFJ       NaN
10번   이석민  보컬팀  25  INFP       부석순
11번   부승관  보컬팀  24  ENFP       부석순
12번   최한솔  힙합팀  24  ENFP       NaN
13번    이찬  퍼포팀  23  ENFJ       NaN