# 11. 데이터 정렬

In [1]:
import pandas as pd
df = pd.read_excel('seventeen.xlsx', index_col='지원번호')
df

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11

In [2]:
df.sort_values('생일(월)') # 생일(월) 기준으로 오름차순 정렬

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30

In [3]:
df.sort_values('생일(월)', ascending=False) # 생일(월) 기준으로 내림차순 정렬

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16

In [4]:
df.sort_values(['나이', '생일(월)'], ascending=False) # 나이, 생일(월) 기준으로 내림차순

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11

In [5]:
df.sort_values(['나이', '생일(월)']) # 나이, 생일(월) 기준으로 오름차순

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30

In [6]:
df.sort_values(['나이', '생일(월)'], ascending=[False, True]) # 나이는 내림차순, 생일(월)은 오름차순 정렬

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11

In [7]:
df['이름'].sort_values()

지원번호
5번     권순영
9번     김민규
4번     문준휘
11번    부승관
8번     서명호
2번     윤정한
10번    이석민
7번     이지훈
13번     이찬
6번     전원우
1번     최승철
12번    최한솔
3번     홍지수
Name: 이름, dtype: object

In [8]:
df['이름'].sort_values(ascending=False)

지원번호
3번     홍지수
12번    최한솔
1번     최승철
6번     전원우
13번     이찬
7번     이지훈
10번    이석민
2번     윤정한
8번     서명호
11번    부승관
4번     문준휘
9번     김민규
5번     권순영
Name: 이름, dtype: object

In [76]:
# df.sort_index(), index가 문자열이므로 정렬을 하면 10~13 출력 후 1~9가 나옴
a = df.index.to_series().str.rsplit('번').str[0].apply(pd.to_numeric).sort_values()

df = df.reindex(index=a.index)
df

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8

In [77]:
# df.sort_index(ascending=False) # index가 문자열이므로 문자인 '번'을 잘라 숫자형으로 변환 후 정렬
a = df.index.to_series().str.rsplit('번').str[0].apply(pd.to_numeric).sort_values(ascending = False)

df = df.reindex(index=a.index)
df

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)  생일(일)
지원번호
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2     11
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2     18
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1     16
10번   이석민         DK  25  보컬팀       부석순  INFP      2     18
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4      6
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11      7
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11     22
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7     17
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6     15
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6     10
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12     30
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10      4
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8      8