# 13. 함수 적용

In [1]:
import pandas as pd

df = pd.read_excel('seventeen.xlsx', index_col='지원번호')
df

       이름        활동명  나이   유닛       유닛2  MBTI  생일(월)
지원번호
1번    최승철    S.COUPS  27  힙합팀       리더즈  INFP      8
2번    윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10
3번    홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12
4번    문준휘        JUN  26  퍼포팀       NaN  INFP      6
5번    권순영      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6
6번    전원우     WONWOO  26  힙합팀       NaN  INFJ      7
7번    이지훈      WOOZI  26  보컬팀       리더즈  INFJ     11
8번    서명호      THE 8  25  퍼포팀       NaN  INFJ     11
9번    김민규     MINGYU  25  힙합팀       NaN  ENFJ      4
10번   이석민         DK  25  보컬팀       부석순  INFP      2
11번   부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1
12번   최한솔     VERNON  24  힙합팀       NaN  ENFP      2
13번    이찬       DINO  23  퍼포팀       NaN  ENFJ      2

In [2]:
filt = df['유닛2'].str.contains('리더즈', na=False)
df[filt]

       이름      활동명  나이   유닛       유닛2  MBTI  생일(월)
지원번호
1번    최승철  S.COUPS  27  힙합팀       리더즈  INFP      8
5번    권순영    HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6
7번    이지훈    WOOZI  26  보컬팀       리더즈  INFJ     11

In [3]:
df.loc[filt, '이름'] = df[filt]['이름'] + " 리더님⭐"
df

            이름        활동명  나이   유닛       유닛2  MBTI  생일(월)
지원번호
1번    최승철 리더님⭐    S.COUPS  27  힙합팀       리더즈  INFP      8
2번         윤정한   JEONGHAN  27  보컬팀       NaN  ISFJ     10
3번         홍지수     JOSHUA  27  보컬팀       NaN  ENFJ     12
4번         문준휘        JUN  26  퍼포팀       NaN  INFP      6
5번    권순영 리더님⭐      HOSHI  26  퍼포팀  리더즈, 부석순  INFP      6
6번         전원우     WONWOO  26  힙합팀       NaN  INFJ      7
7번    이지훈 리더님⭐      WOOZI  26  보컬팀       리더즈  INFJ     11
8번         서명호      THE 8  25  퍼포팀       NaN  INFJ     11
9번         김민규     MINGYU  25  힙합팀       NaN  ENFJ      4
10번        이석민         DK  25  보컬팀       부석순  INFP      2
11번        부승관  SEUNGKWAN  24  보컬팀       부석순  ENFP      1
12번        최한솔     VERNON  24  힙합팀       NaN  ENFP      2
13번         이찬       DINO  23  퍼포팀       NaN  ENFJ      2

## 데이터에 함수 적용 (apply)

In [4]:
# 나이 뒤에 '살'을 붙이는 역할
def add_age(age):
    return str(age) + '살'

df['나이'] = df['나이'].apply(add_age) # 나이 데이터에 대해서 add_age 함수를 호출한 결과 데이터를 반영
df

            이름        활동명   나이   유닛       유닛2  MBTI  생일(월)
지원번호
1번    최승철 리더님⭐    S.COUPS  27살  힙합팀       리더즈  INFP      8
2번         윤정한   JEONGHAN  27살  보컬팀       NaN  ISFJ     10
3번         홍지수     JOSHUA  27살  보컬팀       NaN  ENFJ     12
4번         문준휘        JUN  26살  퍼포팀       NaN  INFP      6
5번    권순영 리더님⭐      HOSHI  26살  퍼포팀  리더즈, 부석순  INFP      6
6번         전원우     WONWOO  26살  힙합팀       NaN  INFJ      7
7번    이지훈 리더님⭐      WOOZI  26살  보컬팀       리더즈  INFJ     11
8번         서명호      THE 8  25살  퍼포팀       NaN  INFJ     11
9번         김민규     MINGYU  25살  힙합팀       NaN  ENFJ      4
10번        이석민         DK  25살  보컬팀       부석순  INFP      2
11번        부승관  SEUNGKWAN  24살  보컬팀       부석순  ENFP      1
12번        최한솔     VERNON  24살  힙합팀       NaN  ENFP      2
13번         이찬       DINO  23살  퍼포팀       NaN  ENFJ      2

In [8]:
def capitalize(name):
    if pd.notnull(name): # NaN 이 아닌 경우
        return name.capitalize() # 첫 글자는 대문자로, 나머지는 소문자로
    return name

df['활동명'] = df['활동명'].apply(capitalize)
df

            이름        활동명   나이   유닛       유닛2  MBTI  생일(월)
지원번호
1번    최승철 리더님⭐    S.coups  27살  힙합팀       리더즈  INFP      8
2번         윤정한   Jeonghan  27살  보컬팀       NaN  ISFJ     10
3번         홍지수     Joshua  27살  보컬팀       NaN  ENFJ     12
4번         문준휘        Jun  26살  퍼포팀       NaN  INFP      6
5번    권순영 리더님⭐      Hoshi  26살  퍼포팀  리더즈, 부석순  INFP      6
6번         전원우     Wonwoo  26살  힙합팀       NaN  INFJ      7
7번    이지훈 리더님⭐      Woozi  26살  보컬팀       리더즈  INFJ     11
8번         서명호      The 8  25살  퍼포팀       NaN  INFJ     11
9번         김민규     Mingyu  25살  힙합팀       NaN  ENFJ      4
10번        이석민         Dk  25살  보컬팀       부석순  INFP      2
11번        부승관  Seungkwan  24살  보컬팀       부석순  ENFP      1
12번        최한솔     Vernon  24살  힙합팀       NaN  ENFP      2
13번         이찬       Dino  23살  퍼포팀       NaN  ENFJ      2

In [9]:
df['활동명'].str.capitalize()

지원번호
1번       S.coups
2번      Jeonghan
3번        Joshua
4번           Jun
5번         Hoshi
6번        Wonwoo
7번         Woozi
8번         The 8
9번        Mingyu
10번           Dk
11번    Seungkwan
12번       Vernon
13번         Dino
Name: 활동명, dtype: object